<div class="col-md-4 feature-col">
  <a class="feature_card" href="<%= feature_link %>">
    <h4><%= title %></h4>
    <img src="<%= image_url(img_src) %>" alt="<%= image_alt(img_src) %>"></img>
    <p><%= description %></p>
  </a>
</div>
