<main class="container">

  <%= render "project_nav.html", feature_name: "Campfire" %>

  <div class="chat-wrapper feature-card">
    <div class="chat-contents" id="chat-contents">
      <% @messages.each do |message| %>
        <%= render 'message/message.html', message: message %>
      <% end %>
    </div>
      <%= form_for @message, remote: true, url: "/messages", html: {id: "new-message-form", class: "chat-form"} do |f| %>
        <%= f.hidden_field :project_id, value: @project.id %>
        <div class="form-group">
          <%= f.text_field :content, class: "form-control", id: "message-input", placeholder: "Say something riveting!", autoFocus: true %>
        </div>
      <% end %>
    </div>
  </div>
</main>
